In [2]:
!pip install pandas
!pip install ipython-sql prettytable 

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: pandas in c:\users\silucu\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\silucu\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\silucu\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\silucu\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\silucu\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: ipython-sql in c:\users\silucu\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\silucu\anaconda3\lib\site-packages (3.16.0)
Requirement already satisfied: ipython-genutils in c:\users\silucu\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\users\silucu\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: six in c:\users\silucu\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in c:\users\silucu\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\silucu\anaconda3\lib\site-packages (from ipython-sql) (2.0.41)
Requirement already satisfied: wcwidth in c:\users\silucu\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\silucu\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.0)
Requirement already satisfied: greenlet>=1 in c:\users\silucu\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\silucu\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: backcall in c:\users\silucu\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pygments in c:\users\silucu\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\silucu\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\silucu\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: matplotlib-inline in c:\users\silucu\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\silucu\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\silucu\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: jedi>=0.16 in c:\users\silucu\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\silucu\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\silucu\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)

In [3]:
import pandas as pd
import sqlite3
con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

In [4]:
%load_ext sql
%sql sqlite:///FinalDB.db

We create a data frame for all the csv files

In [5]:
df = pd.read_csv("winequality-white.csv", sep = ";")
df.to_sql("white_wine", con, if_exists='replace', index=False)
df = pd.read_csv("winequality-red.csv", sep = ";")
df.to_sql("red_wine", con, if_exists="replace", index=False)

1599

Establish a connection between SQL magic module and the database FinalDB.db

In [6]:
%sql sqlite:///FinalDB.db

In [7]:
%sql SELECT COUNT(*) from white_wine

 * sqlite:///FinalDB.db
Done.

[(4898,)]

In [8]:
%sql SELECT COUNT(*) from red_wine

 * sqlite:///FinalDB.db
Done.

[(1599,)]

1) Select the first 10 rows from both tables

In [9]:
%sql SELECT * from red_wine limit 10

 * sqlite:///FinalDB.db
Done.

[(7.4, 0.7, 0.0, 1.9, 0.076, 11.0, 34.0, 0.9978, 3.51, 0.56, 9.4, 5),
 (7.8, 0.88, 0.0, 2.6, 0.098, 25.0, 67.0, 0.9968, 3.2, 0.68, 9.8, 5),
 (7.8, 0.76, 0.04, 2.3, 0.092, 15.0, 54.0, 0.997, 3.26, 0.65, 9.8, 5),
 (11.2, 0.28, 0.56, 1.9, 0.075, 17.0, 60.0, 0.998, 3.16, 0.58, 9.8, 6),
 (7.4, 0.7, 0.0, 1.9, 0.076, 11.0, 34.0, 0.9978, 3.51, 0.56, 9.4, 5),
 (7.4, 0.66, 0.0, 1.8, 0.075, 13.0, 40.0, 0.9978, 3.51, 0.56, 9.4, 5),
 (7.9, 0.6, 0.06, 1.6, 0.069, 15.0, 59.0, 0.9964, 3.3, 0.46, 9.4, 5),
 (7.3, 0.65, 0.0, 1.2, 0.065, 15.0, 21.0, 0.9946, 3.39, 0.47, 10.0, 7),
 (7.8, 0.58, 0.02, 2.0, 0.073, 9.0, 18.0, 0.9968, 3.36, 0.57, 9.5, 7),
 (7.5, 0.5, 0.36, 6.1, 0.071, 17.0, 102.0, 0.9978, 3.35, 0.8, 10.5, 5)]

In [10]:
%sql SELECT * from white_wine limit 10

 * sqlite:///FinalDB.db
Done.

[(7.0, 0.27, 0.36, 20.7, 0.045, 45.0, 170.0, 1.001, 3.0, 0.45, 8.8, 6),
 (6.3, 0.3, 0.34, 1.6, 0.049, 14.0, 132.0, 0.994, 3.3, 0.49, 9.5, 6),
 (8.1, 0.28, 0.4, 6.9, 0.05, 30.0, 97.0, 0.9951, 3.26, 0.44, 10.1, 6),
 (7.2, 0.23, 0.32, 8.5, 0.058, 47.0, 186.0, 0.9956, 3.19, 0.4, 9.9, 6),
 (7.2, 0.23, 0.32, 8.5, 0.058, 47.0, 186.0, 0.9956, 3.19, 0.4, 9.9, 6),
 (8.1, 0.28, 0.4, 6.9, 0.05, 30.0, 97.0, 0.9951, 3.26, 0.44, 10.1, 6),
 (6.2, 0.32, 0.16, 7.0, 0.045, 30.0, 136.0, 0.9949, 3.18, 0.47, 9.6, 6),
 (7.0, 0.27, 0.36, 20.7, 0.045, 45.0, 170.0, 1.001, 3.0, 0.45, 8.8, 6),
 (6.3, 0.3, 0.34, 1.6, 0.049, 14.0, 132.0, 0.994, 3.3, 0.49, 9.5, 6),
 (8.1, 0.22, 0.43, 1.5, 0.044, 28.0, 129.0, 0.9938, 3.22, 0.45, 11.0, 6)]

2) Select the min, max and median values for "alcohol", "pH" and "residual sugar" for white tables

In [11]:
%%sql SELECT MIN(alcohol) as Minimum_alcohol, MAX(alcohol) as Maximum_alcohol, AVG(alcohol) as Average_alcohol, MIN(pH) as Minimum_ph, MAX(pH) as maximum_ph, AVG(pH) as average_ph, MIN([residual sugar]) as minimum_residual_sugar, MAX([residual sugar]) as maximum_residual_sugar, AVG([residual sugar]) as average_residual_sugar
from white_wine

 * sqlite:///FinalDB.db
Done.

[(8.0, 14.2, 10.514267047774638, 2.72, 3.82, 3.1882666394446693, 0.6, 65.8, 6.391414863209486)]

3) Select from one table 10 wines that have the alcohol "> 12,5" and "ph < 3.2"

White Wine

In [12]:
%%sql
SELECT *
FROM white_wine 
WHERE alcohol > 12.5 AND pH < 3.2
LIMIT 10

 * sqlite:///FinalDB.db
Done.

[(7.3, 0.28, 0.43, 1.7, 0.08, 21.0, 123.0, 0.9905, 3.19, 0.42, 12.8, 5),
 (6.7, 0.46, 0.18, 2.4, 0.034, 25.0, 98.0, 0.9896, 3.08, 0.44, 12.6, 7),
 (7.1, 0.3, 0.46, 1.5, 0.066, 29.0, 133.0, 0.9906, 3.12, 0.54, 12.7, 6),
 (7.2, 0.32, 0.47, 5.1, 0.044, 19.0, 65.0, 0.991, 3.03, 0.41, 12.6, 4),
 (6.8, 0.21, 0.27, 2.1, 0.03, 26.0, 139.0, 0.99, 3.16, 0.61, 12.6, 7),
 (7.0, 0.24, 0.36, 2.8, 0.034, 22.0, 112.0, 0.99, 3.19, 0.38, 12.6, 8),
 (7.0, 0.22, 0.31, 2.7, 0.03, 41.0, 136.0, 0.9898, 3.16, 0.37, 12.7, 7),
 (7.2, 0.2, 0.34, 2.7, 0.032, 49.0, 151.0, 0.99, 3.16, 0.39, 12.7, 7),
 (7.1, 0.22, 0.33, 2.8, 0.033, 48.0, 153.0, 0.9899, 3.15, 0.38, 12.7, 7),
 (7.5, 0.42, 0.34, 4.3, 0.04, 34.0, 108.0, 0.99155, 3.14, 0.45, 12.8, 8)]